<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3287278892999365/8219243866</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3287278892999365/5593080521</string>
	<key>CLIENT_ID</key>
	<string>760419868722-tf87682asod81dvcgbp5hstskr1m97f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760419868722-tf87682asod81dvcgbp5hstskr1m97f2</string>
	<key>API_KEY</key>
	<string>AIzaSyC1I80O1hXLGsSAEmpOkxmthJRlIHLWv_w</string>
	<key>GCM_SENDER_ID</key>
	<string>760419868722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeetechno.rubeco</string>
	<key>PROJECT_ID</key>
	<string>rubeco</string>
	<key>STORAGE_BUCKET</key>
	<string>rubeco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760419868722:android:f1b84e47e1396b69e01c2b</string>
	<key>DATABASE_URL</key>
	<string>https://rubeco.firebaseio.com</string>
</dict>
</plist>